<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
            Franco Saracho tab-3
    </ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Encanbezado h1 (título)</h1>
  <pre>
    • Acá utilizo etiqueta "pre" 
    la cual el navegador interpreta
    el texto tal y como está
  </pre>
  <p align="center">(Etiqueta "p" center) El texto al centro</p>

  <p align="right">(Etiqueta "p" right) El texto a la derecha</p>

  <p align="left">(Etiqueta "p" left) El texto a la izquierda</p>

</ion-content>
